.required label:after {
  content: " *";
  color: red;
}

.label-required:after {
  content: " *";
  color: red;
}
.select-cs {
  visibility: hidden;
  display: none;
}

.cv .form-group {
  display: inline;
}

.progress {
  height: 30px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-top: 10px;
}

.btn-container{
  margin-top: 10px;
  margin-bottom: 10px;
  .btn{
    margin-right: 10px;
  }
}

.select-auto {
  line-height: 40px;
}

//no borrar
.container-title {
  background: #00519b !important;
  color: white !important;
}

//no borrar
.center-btn {
  text-align: center;
  margin-top: 10px;
}
