/*--------------------------------*\
  General_Information
\*--------------------------------*/

.general-info {
  .clear-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .linked-btn {
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}