.document__content{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.document__content-select{
  width: 60%;
  margin-right: 10px;
}

.document__content-btns button {
  margin-right: 10px;
}

