/* adds some margin below the link sets  */

.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: 1rem;
}

.navbar .dropdown-menu {
  border: none;
  background-color: #00519b!important;
}

.nav-item .nav-link {
  color: #dfdddd!important;
}

.nav-item .nav-link:hover {
  color: white!important;
}

/* breakpoint and up - mega dropdown styles */

@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #00519b!important;
  }
  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding-bottom: .50rem;
  }
  .first-item {
    padding-left: 100px;
  }
  .navbar .dropdown-menu {
    width:250px;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 40px;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }
  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }
  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }
}