.two-columns {
  display: flex;
  justify-content: center;
  padding: 20px 80px;
}
.column {
  width: 50%;
}

.column .form-group {
  padding: 0 15px;
  margin-bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .two-columns {
    display: block;
  }
  .column {
    width: 100%;
  }
}
