.academic-info {
  display: flex;
  justify-content: center;
  padding: 20px 80px;
}
.select-section {
  width: 50%;
}
.select-section .item .item-content {
  display: flex;
  padding: 0 5px;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.select {
  width: 100%;
  margin-right: 15px;
}

.item .btn-editar,
.item .btn-crear {
  padding-top: 8px;
  margin-right: 10px;
}

.select-auto {
  line-height: 40px;
}

@media screen and (max-width: 1200px) {
  .academic-info {
    display: block;
  }
  .select-section {
    width: 100%;
  }
}
