.home {
  /* margin-top: 90px; */
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}
.home-content-left {
  width: 80%;
  padding-right: 20px;
  text-align: justify;
}

.home-content-left p {
  margin-bottom: 40px;
}

.home-content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content-right img {
  width: 100%;
  height: 360px;
}
