.infoGestion {
  /* margin-top: 90px; */
}

.infoGestion-content {
  display: flex;
  justify-content: space-between;
  
  padding: 20px 80px;
}
.select-section {
  width: 50%;
}
.select-section .item .item-content {
  display: flex;
  padding: 0 10px;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.select {
  width: 100%;
}
.item .btn-editar {
  margin: 0 10px;
  /* width: 10%; */
  /* background: yellowgreen; */
}

@media screen and (max-width: 1200px) {
  .infoGestion-content {
    display: block;
  }
  .select-section {
    width: 100%;
  }
}

