.infoGestion {
  /* margin-top: 90px; */
}

.infoGestion-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}
.select-section {
  width: 50%;
}
.select-section .item {
  /* display: block; */
  padding: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.item .select {
  width: 100%;
}
.item .btn-crear {
  width: 50%;
}
.item .btn-editar {
  width: 50%;
}

.item-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
