.navbar-container {
  background-color: #00519b;
}

.navbar div.dropdown-menu {
  border: none;
  background-color: #007bc0 !important;
}

.nav-item {
  margin-right: 10px;
}
.nav-item a.nav-link,
.nav-item button.nav-link {
  color: #fff !important;
  text-transform: uppercase;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 14px;
}

.nav-item a.nav-link:hover,
.nav-item button.nav-link {
  color: #b9cfdb !important;
}

.navbar div.dropdown-menu div.container {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 992px) {
  .navbar-container {
    background-color: transparent;
  }

  .navbar-prored.navbar-dark.navbar.navbar-expand-lg {
    height: 40px !important;

    background-color: transparent !important;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 0 0 85px !important;
  }

  .nav-item a.nav-link,
  .nav-item button.nav-link {
    display: flex;
    align-items: center;
    /* margin-top: 5px; */
    color: #00519b !important;
    border-bottom: solid #e4e0e0 5px;
  }
  .nav-item a.nav-link:hover,
  .nav-item button.nav-link:hover {
    /* margin-top: 5px; */
    color: #007bc0 !important;
    border-bottom: solid #c2dae8 5px;
  }

  .navbar div.dropdown-menu {
    width: 250px;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 40px;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .navbar div.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #fff !important;
  }
  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding-bottom: 0.5rem;
  }
}
