.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Navbar UNED */

#menuInstCont {
    background: none repeat scroll 0 0 #00519b;
    border-bottom: 3px solid #ffc211;
    position: fixed;
    width: 100%;
    height: 35px;
    z-index: 9999
}

#menuInst {
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    height: 33px;
    max-width: 1280px;
    margin: 0 auto
}

.logouned {
    width: 70px;
    height: 70px;
    float: left;
    border: 3px;
    cursor: pointer;
    position: relative;
    z-index: 1
}

.logouned2 {
    width: 70px;
    height: 70px;
    float: right;
    border: 3px;
    cursor: pointer;
    position: relative;
    z-index: 1
}

#menuInst a.uned {
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 .8em;
    font-weight: 700;
    line-height: 2.4em;
    float: left;
    font-size: 1em
}

#menuInst a:hover.uned {
    color: #cff
}

#menuInst a.uned-small {
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 .8em;
    font-weight: 700;
    line-height: 2.4em;
    float: left;
    font-size: 1em
}

#menuInst a:hover.uned-small {
    color: #cff
}

#costarica {
    background: url(https://www.uned.ac.cr/menu/img/cr.png) no-repeat left;
    margin: 8px 0 0 10px;
    padding: 1px 0 0 30px;
    float: left;
    font-size: .85em
}

#iconos_sup {
    float: right;
    padding: 0;
    height: 27px
}

#toggle, .toggle {
    display: none
}

.menu_Inst>li {
    list-style: none;
    float: left
}

.clearfix:after, .clearfix:before {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both
}

.menu_Inst, .menu_Inst>li, .menu_Inst>li>a {
    margin: 0 auto;
    max-width: 1280px
}

.menu_Inst>li>a {
    display: block;
    padding: 47px 0 8px 0;
    margin: 0 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: .85em;
    text-decoration: none;
    font-weight: 400;
    line-height: 1;
    color: #00519e;
    border-bottom: solid #f2f2f2 5px
}

.menu_Inst>li>a:focus, .menu_Inst>li>a:hover {
    color: #007bc0;
    border-bottom: solid #c2dae8 5px
}

.toggle {
    z-index: 999
}

input::-webkit-input-placeholder {
    color: transparent!important
}

input[placeholder] {
    color: transparent!important
}

::-moz-placeholder {
    color: transparent!important
}

input:-moz-placeholder {
    color: transparent!important
}

@media screen and (min-width:1280px) {
    .pvw-uned-small {
        display: none!important
    }
}

@media screen and (max-width:1280px) {
    .tools {
        margin-right: 5px
    }
    .logouned {
        margin-left: 15px
    }
    .pvw-uned-small {
        display: none!important
    }
}

@media screen and (max-width:1250px) {
    .menu_Inst>li>a {
        font-size: .9em
    }
}

@media screen and (min-width:1281px) {
    .menu_Inst>li:first-child {
        padding-left: 65px
    }
}

@media screen and (max-width:1150px) {
    .menu_Inst>li>a {
        font-size: .8em
    }
}

@media screen and (min-width:1051px) and (max-width:1280px) {
    .menu_Inst>li:first-child {
        padding-left: 7%
    }
}

@media screen and (max-width:1050px) {
    .logouned {
        display: none!important
    }
}

@media screen and (max-width:1025px) {
    .menu_Inst {
        display: none;
        opacity: 0;
        width: 100%;
        position: absolute;
        right: 0
    }
    .menu_Inst>li {
        display: block;
        width: 100%;
        margin: 0
    }
    .menu_Inst>li>a {
        display: block;
        font-size: .9em;
        padding: 10px;
        width: 100%;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .toggle {
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none
    }
    #toggle:checked+div .menu_Inst {
        display: block;
        opacity: 1;
        z-index: 999
    }
}

@media screen and (max-width:1024px) {
    .menu_Inst {
        background: #fff
    }
    .menu_Inst, .menu_Inst>li, .menu_Inst>li>a {
        height: auto
    }
    .toggle:after {
        content: attr(data-open);
        display: block;
        padding: 43px 0 6px 0;
        text-align: left;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: #fff;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -o-transition: all .5s linear;
        transition: all .5s linear;
        width: 100%;
        text-indent: 40px
    }
    #toggle:checked+div .toggle:after {
        content: attr(data-close)
    }
    #toggle:checked+div .toggle:after, .toggle:after, .toggle:hover:after {
        background-position: 15px 80%;
        background-color: #007bc0
    }
}

@media screen and (max-width:768px) {
    .pvw-uned-small {
        display: inline!important
    }
    .pvw-uned span {
        display: none
    }
}

@media only screen and (max-width:480px) {
    #iconos_sup {
        display: none!important
    }
    .toggle:after {
        padding: 50px 0 10px 0;
        font-size: 1.3em;
        text-indent: 40px
    }
    .menu_Inst>li>a {
        font-size: 1em;
        padding: 12px
    }
}

#menuInst {
    min-width: 300px
}

#fontsize2 {
    float: right;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 4px
}

#fontsize2 a {
    color: #fff!important;
    padding: 4px 8px;
    margin: 2px;
    background-position: 0 4px
}

/* Navbar */
.nav {
    padding: 47px 4px;
}

/* Registro */
.registro {
    padding: 140px 10px;
}

/* Footer */

#footer, #footer a, #footer-inner {
    color: #00519e
}

#cintilloProred {
    width: 100%;
    height: 80%
}

#footer {
    background: #eee;
    max-width: 1280px;
    margin: 0 auto;
    font-size: 1em;
    height: 35px;
    padding-top: 3px;
    text-align: center
}

#footer a:hover {
    color: #007bc0
}

#footer-sub {
    font-family: arial, sans-serif;
    background-color: #eee;
    border-top: 3px solid #ffc211;
}

#iconos {
    float: right;
    margin-top: -6px
}